        /*Animacion Titulo principal header*/
@keyframes titulo_principal{
    0% {
      transform: scale(1,1);
    }
    25%{
      transform: scale(1.3,1.3);
    }
    50%{
    transform: scale(1.5,1.5);
    }
    75% {
    transform: scale(1.1,1.1);
    }
    100%{
      transform: scale(1,1);
    }
}      

  /* Animacion flecha index*/

  @keyframes flecha{
    0% {
      transform:translateY(0px);
    }
    
    100%{
      transform:translateY(10px);
      color: #f938ec;
    }
}  
     /* animacion titulo principal*/ 
@keyframes texto {
  0%, 100% {
    clip-path: polygon(
      0% 47%,
      10% 48%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
         
    );  
  }  
   50% {
     clip-path: polygon(
         0% 60%,
         15% 65%,
         34% 66%,
         51% 62%,
         67% 50%,
         84% 45%,
         100% 46%,
         100% 100%,
         0% 100%
     );      
   }
 }
   
