footer{
    background-image: url("../images/pantallas/footer.svg");
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius:0 0 10px 10px;
    img{
        width: map-get($Zise,zise4)
    }
 }
 
 