$color-botones:radial-gradient(circle, #f938ec, #8E0384);
$color-texto:white;
$color-hover:#8E0384;
$color-primario-card:rgb(241, 239, 239);
$color-secundario-card:rgb(215, 211, 211);

*{
  padding:0;
  margin:0;
  box-sizing: border-box;  
}

body{
    
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    display:grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    main{
        .centrar-margin{
            @include centrarYmargin(16px);
        }
    }
}  
     /*   extend para  botones de productos y formularios */    
%botones {
    background:$color-hover;
    padding: map-get($Zise,zise0);
    color:$color-texto;
    font-size:map-get($Zise,zise1);
    font-weight:bold;
}





  





 