            /* quienes somos */
.quienes-somos{
   background-color:gray;
   border-radius:10px 10px ; 
  
      p{
          font-size:30px;
          color:white;
      }
      .parrafo--2{
          margin-top:113px;
          
      }
}
@media screen and (min-width: 992px) {
    .quienes-somos{
        background-image: url("../images/pantallas/fondo1.jpg");
        background-repeat: no-repeat;
        background-size:cover ;
        border-radius:10px 10px 0 0; 
               
    }   
}                